.csv-uploader {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px;
  max-width: 800px;
  margin: 50px auto;
  background: linear-gradient(135deg, #f3f8ff, #e1effc);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 20px;
}

h2 {
  color: #000000;
}

.file-upload {
  position: relative;
  display: inline-block;
}

input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 40px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload label:hover {
  background-color: #003366;
}

.selected-file {
  margin-top: 15px;
  color: #003366;
}

.action-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  background-color: #003366;
  transform: scale(1.05);
}

.available-files {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background: #e6f0ff;
  border-radius: 5px;
}

ul li span {
  color: #003366;
  font-weight: bold;
}

.scrollable-table {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #003366;
  color: #000000;
}

td {
  background-color: #b4b4b4;
  color: #000000;
}
