body {
    background-color: #000000; /* Fondo negro */
    margin: 0;
    height: 100vh;
  }

  .cinta-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto; /* Asegúrate de que el contenido interno se centre */

  }
 
  .cinta-container > .d-flex {
    width: max-content;
    margin: auto; /* Asegúrate de que el contenido interno se centre */

  }
  
  .celda {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #837b7b;
    border-radius: 5px;
    flex-shrink: 0; /* Evita que las celdas se achiquen */
  }

  
  .celda-activa {
    background-color: #4CAF50;
  }
  


  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #000000;
  }

  
  p {
    font-size: 24px;
    margin-top: 20px;
    color: white;
  }
  
 
  
  .cinta-container .celda {
    position: relative;
  }
