/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "font-awesome/css/font-awesome.css";

html, body {
    height: 100%;
    margin: 0; /* Elimina cualquier margen predeterminado */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; /* Asegúrate de cubrir al menos el 100% de la altura */
    width: 100%;
    text-align: center;
    background-color: #000000; /* Fondo negro */
    color: #ffffff;
    position: relative; /* Asegura que el contenedor esté posicionado correctamente */
}
